<!DOCTYPE html>
<html>
<head>
    <title>travel</title>
</head>
<body>
    <body>
    <header>
        <img src = '/img/head.jpg' alt='Logo'>
    </header>
     {{{body}}} 
    </body>
</body>

</html>